@use "./partials/global" as *;

.container {
  position: relative;
  height: 44rem;
  display: flex;
}

.background-image {
  width: 100%;
  object-fit: cover;
}

.main-text__container {
  position: absolute;
  width: 100%;

  .title {
    margin: 5rem 5rem 3rem;
    font-size: 3rem;
    color: white;
  }
}

.card__container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: $white-color;
  width: 11.5rem;
  height: 16.5rem;
  margin: 0 2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;

  &__title {
    font-size: 15px;
    border-bottom: solid 2px black;
    font-weight: bold;
    margin: 0.5rem 0 1.3rem;
  }

  &__food {
    font-size: 1vw;
    background-color: $baige-c;
    padding: 0.6rem 1rem;
    margin: 0.7rem 0.2rem;
  }
}
