@use "partials/global" as *;

// welcome page
.welcome {
  &-page {
    display: flex;
    background-color: $baige-c;
    width: 100%;
    height: 34rem;
    position: relative;
  }

  &-text {
    position: absolute;
    left: 5rem;
    top: 7rem;
    margin-right: 3rem;

    &__heading {
      margin-right: 0%;
      margin-bottom: 1.5rem;
      width: 29rem;
      color: $blue-c;
    }

    &__p {
      width: 77%;
      margin-bottom: 2.5rem;
      color: $blue-c;
    }
  }
}

.welcome-page {
  &__image--container {
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    width: 30rem;
    padding: 4rem;
    position: absolute;
    right: -1rem;
  }
}

// card

.product-page__title {
  color: $blue-c;
  width: fit-content;
  margin: 3rem 0 2rem 5rem;
}
.card {
  display: flex;
  justify-content: center;

  &-image__container {
    margin: 0 1rem 4rem 1rem;
    position: relative;
  }

  &__image {
    width: 13rem;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  &__title {
    color: $white-color;
    position: absolute;
    top: 16rem;
    right: 1rem;
  }
}

.button {
  background-color: $orange-c;
  color: white;
  padding: 10px 28px;
  text-align: center;
  border-radius: 2rem;

  &__container--viewall {
    display: flex;
    justify-content: center;
    margin-top: 3.3rem;
  }

  &__container--viewall-div {
    position: relative;
    border: #393939 solid 2px;
    width: 173px;
    height: 53px;
    top: -5px;
    right: 181px;
  }
}

// footer
.footer {
  &__container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: $baige-c;
  }

  &-hours--day {
    display: flex;
  }

  &-hours--time {
    display: flex;
  }

  &__subtitle {
    color: $orange-c;
  }

  &__title {
    margin: 2rem 0 0 0;
    color: $blue-c;
  }
  &__social--link {
    padding: 0rem;
    margin: 0 0.2rem;
  }

  .icon {
    width: 2rem;
  }

  &-background-image__link1 {
    width: 90px;
    top: 3rem;
    left: -2rem;
    position: absolute;
    opacity: 25%;
  }

  &-background-image__link2 {
    float: right;
    width: 90px;
    opacity: 25%;
    position: absolute;
    right: -2rem;
    bottom: 4rem;
  }
}
