$white-color: #ffffff;
$blue-c: #335576;
$orange-c: #db7a4e;
$baige-c: #fefaf5;
$font-stack: Verdana, Geneva, Tahoma, sans-serif;

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-stack;
  margin: 0;
}

p {
  font-size: 0.75rem;
}

.navbar {
  background-color: $white-color;
  display: flex;

  &__heading {
    margin-right: auto;
    display: flex;
    align-items: center;

    &--link {
      color: $blue-c;
      font-weight: bold;
      margin-left: 5rem;
    }
  }

  &__list {
    color: #393939;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.2rem;

    &--container {
      width: 24rem;
    }
    &--link {
      color: #393939;
      padding-bottom: 6px;
    }
  }
}

.current {
  border-bottom: solid 3px $orange-c;
}

// footer
.footer {
  &__container {
    display: flex;
    justify-content: center;
    background-color: $baige-c;
  }

  &__hours {
    margin: 0 4%;
  }
  &-hours--day {
    display: flex;
    justify-content: space-between;
  }
  &-hours--time {
    display: flex;
    justify-content: space-between;
  }

  &__day {
    color: $orange-c;
    margin: 1.5rem 2rem 0.2rem 0;
    font-size: 0.6rem;
  }

  &__time {
    margin: 0.5rem 2rem 2rem 0;
    color: $blue-c;
  }

  &__title {
    margin: 2rem 0 0 0;
    color: $blue-c;
  }
  &__social--link {
    margin: 0 0.2rem;
  }
}

.icon {
  height: 1.3rem;
  margin-top: 2.4rem;
  margin-right: 0.5rem;
}
